<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "-//mybatis.org//DTD Mapper 3.0//EN">
<mapper namespace="info">
<select id="getInfo" parameterType="String" resultType="command.MemberCommand">
	select * from member where id=#{id}
</select>

<select id="getMemAddr" parameterType="String" resultType="command.AddressCommand">
	select * from address where mem_no=#{mem_no}
</select>

<select id="getComAddr" parameterType="String" resultType="command.AddressCommand">
	select * from address where com_no=#{com_no}
</select>

<select id="getCompany" parameterType="String" resultType="command.CompanyCommand">
	select * from company where com_no=#{com_no}
</select>

<update id="infoupdate" parameterType="map">
	update (select distinct * from member m, address a, company c) set 
		m.name='',m.pw='',m.home_tel='',m.com_tel='',m.email='',
		a.area_addr1='',a.area_addr2='',a.area_addr3='',a.area_zip='',a.area_desc='',
		a.road_addr1='',a.road_addr2='',a.road_addr3='',a.road_zip='',a.road_no='',a.road_desc='',
		c.com_name='',c.ceo_name='',c.com_tel='',c.com_fax='' 
	where m.mem_no='7' and (a.mem_no='7' || c.mem_no='7') and (a.com_no='7' || c.com_no='7');
</update>

<!-- info, com_addr, mem_addr, company  #{info.} #{com_addr.} #{mem_addr.} #{company.}-->

</mapper>