<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "-//mybatis.org//DTD Mapper 3.0//EN">
<mapper namespace="info">
<select id="getInfo" parameterType="String" resultType="command.MemberCommand">
	select * from member where id=#{id}
</select>

<select id="getMemAddr" parameterType="int" resultType="command.AddressCommand">
	select * from address where mem_no=#{mem_no}
</select>

<select id="getCompany" parameterType="int" resultType="command.CompanyCommand">
	select * from company where com_no=#{com_no}
</select>

<update id="infoupdate" parameterType="map">
	UPDATE 
		(SELECT 
			DISTINCT * 
		FROM 
			member m INNER JOIN address a ON m.mem_no=#{mem_info.mem_no} and m.mem_no=a.mem_no
			<if test="com_info.com_no!=null">INNER JOIN company c ON m.com_no=#{mem_info.mem_no} and m.com_no=c.com_no</if>) 
	set 
		<if test="mem_info.name!=null">m.name=#{mem_info.name}</if>
		<if test="mem_info.pw!=null">,m.pw=#{mem_info.pw}</if>
		<if test="mem_info.home_tel!=null">,m.home_tel=#{mem_info.home_tel}</if>
		<if test="mem_info.com_tel!=null">,m.com_tel=#{mem_info.com_tel}</if>
		<if test="mem_info.email!=null">,m.email=#{mem_info.email}</if>
		<if test="addr_info.area_addr1!=null">,a.area_addr1=#{addr_info.area_addr1}</if>
		<if test="addr_info.area_addr2!=null">,a.area_addr2=#{addr_info.area_addr2}</if>
		<if test="addr_info.area_addr3!=null">,a.area_addr3=#{addr_info.area_addr3}</if>
		<if test="addr_info.area_zip!=null">,a.area_zip=#{addr_info.area_zip}</if>
		<if test="addr_info.area_desc!=null">,a.area_desc=#{addr_info.area_desc}</if>
		<if test="addr_info.road_addr1!=null">,a.road_addr1=#{addr_info.road_addr1}</if>
		<if test="addr_info.road_addr2!=null">,a.road_addr2=#{addr_info.road_addr2}</if>
		<if test="addr_info.road_addr3!=null">,a.road_addr3=#{addr_info.road_addr3}</if>
		<if test="addr_info.road_no!=null">,a.road_no=#{addr_info.road_no}</if>
		<if test="addr_info.road_desc!=null">,a.road_desc=#{addr_info.road_desc}</if>
		<if test="com_info.com_name!=null">,c.com_name=#{com_info.com_name}</if>
		<if test="com_info.ceo_name!=null">,c.ceo_name=#{com_info.ceo_name}</if>
		<if test="com_info.com_tel!=null">,c.com_tel=#{com_info.com_tel}</if>
		<if test="com_info.com_fax!=null">,c.com_fax=#{com_info.com_fax}</if>
	where 
		<if test="mem_info.mem_no!=null">m.mem_no=#{mem_info.mem_no} </if> 
		<if test="com_info.com_no!=null">
			<if test="addr_info.com_no!=null">
				and (a.com_no=#{com_info.com_no} or m.com_no=#{mem_info.com_no}) 
			</if>
		</if>
		<if test="com_info.com_no!=null"> 
		and (m.mem_no=#{mem_info.mem_no} or c.com_no=#{com_info.com_no}) 
		</if>
</update>
</mapper>