<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "-//mybatis.org//DTD Mapper 3.0//EN">
<mapper namespace="member"><!--로그인에 필요한 맵퍼 파일 -->

<select id="login" parameterType="Map" resultType="String">
	select mem_no from member where id=#{id} and pw=#{pw}
</select>
<select id="getAllCards" parameterType="map" resultType="command.CardCommand">
	select rownum,r.card_no,c.id,c.com_no,c.name,c.form_code,c.com_name,c.mem_level,
	c.web_addr,c.cel_tel,c.com_tel,c.email,c.addr,c.zip,c.addr_desc 
	from relation r inner join card c on r.card_no=c.card_no 
	where r.id=#{id} and r.card_no is not null and rownum>=#{startnum} and #{endnum}>=rownum
</select>
<select id="getCardsCount" parameterType="String" resultType="Integer">
	select count(*) from card where owning=#{id}
</select>
<insert id="register_mem" parameterType="command.MemberCommand">
	insert into member values(member_seq.nextval,#{com_no},#{name},#{id},#{pw},#{home_tel},#{cel_tel},#{com_tel},#{email},sysdate)
</insert>
<select id="search" parameterType="String" resultType="Map">
	select * from card where name=#{client_name}
</select>
<select id="getAddress1" resultType="String">
	select addr1 from address
</select>
<select id="getAddress2" resultType="String">
	select addr2 from address
</select>
<select id="getAddress3" resultType="String">
	select addr3 from address
</select>

<insert id="sendcard" parameterType="command.MemoCommand">
	insert into memo values(#{card_no},#{towho},#{fromwho},#{contents},sysdate)
</insert>
<insert id="insertcard1" parameterType="command.CardCommand">
	insert into card values 
	(card_seq.nextval,#{id},#{com_no},#{name},#{form_code},
	#{com_name},#{mem_level},#{web_addr},#{cel_tel},#{com_tel},
	#{email},#{addr},#{zip},#{addr_desc})
</insert>
<update id="insertcard2" parameterType="Map">
	update card set owning=#{id} where id=#{cardid}
</update>

</mapper>