<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "-//mybatis.org//DTD Mapper 3.0//EN">
<mapper namespace="member"><!--로그인에 필요한 맵퍼 파일 -->

<select id="login" parameterType="Map" resultType="String">
	select id from member where id=#{id} and pw=#{pw}
</select>
<select id="getAllCards" parameterType="map" resultType="command.CardCommand">
	select * from card where mem_id=#{id} and rownum>=#{startnum} and #{endnum}>=rownum
</select>
<select id="getCardsCount" parameterType="String" resultType="Integer">
	select count(*) from card where mem_id=#{id}
</select>
<insert id="register_mem" parameterType="command.MemberCommand">
	insert into member values(member_seq.nextval,#{name},#{id},#{pw},#{addr1},#{addr2},#{zip_code},#{cel_tel},#{com_tel},#{email},sysdate)
</insert>
<select id="getAddress1" resultType="String">
	select addr1 from address
</select>
<select id="getAddress2" resultType="String">
	select addr2 from address
</select>
<select id="getAddress3" resultType="String">
	select addr3 from address
</select>

<insert id="sendcard" parameterType="command.CardMemoCommand">
	insert into card_memo values(#{card_no},#{towho},#{fromwho},#{contents},sysdate)
</insert>
<insert id="insertcard" parameterType="command.CardCommand">
	insert into card(card_no,mem_id,client_name,form_code,com_name,client_level,com_addr1,com_addr2,com_addr3,zip_code1,zip_code2,web_addr,cel_tel,com_tel,email,client_id) values 
	(card_seq.nextval,#{mem_id},#{client_name},#{form_code},#{com_name},#{client_level},#{com_addr1},#{com_addr2},#{com_addr3},#{zip_code1},#{zip_code2},#{web_addr},#{cel_tel},#{com_tel},#{email},#{client_id})
</insert>

</mapper>