<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "-//mybatis.org//DTD Mapper 3.0//EN">
<mapper namespace="myschedule">

<select id="getSchedule" parameterType="map" resultType="command.ScheduleCommand">
	select to_char(from_when,'MM-DD'),to_char(to_when,'MM-DD'),place,withwho 
	from schedule 
	where id=#{id} and to_char(from_when,'YYYYMM')=#{yearmonth} and to_char(from_when,'DD')>=#{day} 
	order by from_when asc

</select>
<!-- select to_char(from_when,'MM-DD'),to_char(to_when,'MM-DD'),place,withwho 
	from schedule 
	where id='java1' and to_char(from_when,'YYYYMM')='201612' and to_char(from_when,'DD')>='09' 
	order by from_when asc; -->
	
</mapper>