<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "-//mybatis.org//DTD Mapper 3.0//EN">
<mapper namespace="myschedule">

<select id="getSchedule" parameterType="map" resultType="command.ScheduleCommand">
	select 
		from_when
		,to_when
		,place
		,with_who 
	from 
		schedule 
	where 
		id=#{id} 
		and to_char(from_when,'yyyymm') = #{yearmonth} 
		and to_char(from_when,'dd') >= #{day} 
	order by 
		from_when asc
</select>

<insert id="ins_schedule" parameterType="command.ScheduleCommand">
	INSERT 
		INTO scheudle
	VALUES (
		ADDRESS_SEQ.NEXTVAL
			||'_'
			||TO_CHAR(
			  SYSDATE, 'yymmdd')
			||((SELECT 
				COUNT(*) 
			  FROM 
			  	SCHEDULE SUB_SCHE
			  WHERE
			  	SUB_SCHE.FROM_WHEN==#{from_when})+1)
		,#{mem_no}
		,#{from_when}
		,#{to_when}
		,#{place}
		,#{with_who}
		,SYSDATE
		)
</insert>
	
</mapper>