/*
 * Description : 명함 style Attr(색, 모양 등) 관련 CSS
 * Function : style Attr 넣기.
 * Made At : 2017-05-09
 */
.cards{
	margin: auto;
	background: url("/OmniCard/image/horse.jpg"); 
	background-position: center; 
	background-repeat: no-repeat;
}
.card_no{
	float: left;
}

/*CARD A*/
.a{
	background: url("/OmniCard/image/card1.jpg");
	width: 460px;
	height: 240px;
	border: black;
	border-radius: 20px;
	display: block;
	margin: 0 auto;
}
.header{
	text-align: left;
}
.content{
	text-align: center;
}
.footer{
	text-align: right;
}

/*CARD B*/
.b{
	background: url("/OmniCard/image/card2.jpg");
	width: 460px;
	height: 240px;
	border: black;
	border-radius: 20px;
	margin: 0 auto;
}

/*CARD C*/
.c{
	background-image: ;
	border: black;
	margin: 0 auto;
}

/*Footer CSS*/
.footer_background{
	height: 400px;
    width: 100%;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
}
.insertcard_form{
	margin-left: 20px;
}
