.button{
	background-color: green;
	margin: 10px;
	padding: 12px 28px;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.button:hover{
	background-color: white;
}
.footer_background{
	
}
.header_menu{
	margin: 0%;
	height: 100px;
    width: 100%;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
}